<MudContainer MaxWidth="MaxWidth.Medium" Class="pt-8">
    <MudPaper Elevation="16">
        <MudContainer Class="pa-4 custom-jumbotron">
            <MudContainer Class="custom-jumbotron-content">
                <h1>
                    <MudText Typo="Typo.h2">Stoopid Snek <br /> Privacy Policy</MudText>
                </h1>

                <MudText Typo="Typo.body1" Class="pb-2">Last Updated: February 3rd, 2023</MudText>
            </MudContainer>
        </MudContainer>
    </MudPaper>

    <MudPaper Elevation="16" Class="mt-8 pa-4">
        <h3>What information do we collect?</h3>
        
        We don't collect any personal information from our players.
        The only information that is collected is the player's in-game statistics such as length, score, or max combo.
        This information is only stored in databases managed by the platform that the game is played on.
        (ie. Managed by Apple in the case of iOS, and managed by Google in the case of Android)
        <br /><br />
        <h3>How do we use the information?</h3>
        
        The information we collect is used for the sole purpose of saving player scores and maintaining a global leaderboard.
        We do not process the data in any shape or form, as the data is managed only by Apple or Google.

        <br /><br />
        <h3>What information do we share?</h3>
        Absolutely no information is shared with any third party.

    </MudPaper>
</MudContainer>

@code {

}
