<div class="fab-paper-wrapper">
    <MudPaper Outlined="true" Class="rounded-0 rounded-r-xl fab-paper">
        <MudIconButton
                       Color="Color.Primary"
                       Variant="Variant.Text"
                       Icon="@Icons.Material.Outlined.Menu"
                       aria-label="menu"
                       Class="fab-button-override"
                       Size="Size.Medium"
                       @attributes="InputAttributes" />
    </MudPaper>
</div>

<style>
    .fab-paper-wrapper {
        position: absolute;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        padding-top: 16px;
    }
    .fab-paper {
        z-index: 4;
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: row-reverse;
        width: 52px;
        border: 2px solid white;
        transition: width 0.4s;
    }
    .fab-paper:hover {
        width: 60px;
    }
    .fab-button-override {
        margin: 0px;
    }

</style>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? InputAttributes { get; set; }
}