@inject IJSRuntime JS
@implements IDisposable
@using System.Timers

<div id="@_wrapperId" @ref="_wrapperDiv">
    <MudButton Class="pause-button" @onclick="TogglePause">Pause</MudButton>
    <BECanvas Width="@_width" Height="@_height" @ref="_canvasReference"></BECanvas>
</div>

<style>
    #seed-renderer-wrapper {
        height: 100%;
        width: 100%;
    }
    .pause-button {
        position: fixed;
        right: 8px;
        bottom: 8px;
    }
</style>

@code
    {
    private Canvas2DContext _context;
    private string _wrapperId = "seed-renderer-wrapper";
    private long _width = 640;
    private long _height = 360;
    private DotNetObjectReference<SeedRenderer> _objRef;
    private bool _firstRender = true;
    private Canvas2DSeedRenderer _seedRenderer;
    private PlantIterator _plantIterator;
    private Timer _simulationTimer;
    private DateTime _lastUpdateTime;

    protected BECanvasComponent _canvasReference;
    protected ElementReference _wrapperDiv;

    [JSInvokable()]
    public void OnWrapperResize(float width, float height)
    {
        _width = (long)width;
        _height = (long)height;

        _seedRenderer.SetViewportScale(new Vector2(width, height));

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        var plant = new Plant();
        _seedRenderer = new Canvas2DSeedRenderer(_context, plant);
        _plantIterator = new PlantIterator(plant);

        // Start main update loop timer
        _simulationTimer = new Timer(40);
        _lastUpdateTime = DateTime.Now;
        _simulationTimer.Elapsed += Update;
        _simulationTimer.AutoReset = true;
        _simulationTimer.Enabled = true;
    }

    private async void Update(Object _, ElapsedEventArgs e)
    {
        var deltaTime = (float) (e.SignalTime - _lastUpdateTime).TotalMilliseconds;

        try
        {
            _plantIterator.Iterate(deltaTime);
            await _seedRenderer.RenderAsync();
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error while rendering plant: \n{ex.Message}");
            _simulationTimer.Enabled = false;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_firstRender)
        {
            _firstRender = false;
            _objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("AddResizeListener", _wrapperId, _objRef, "OnWrapperResize");
        }

        _context = await _canvasReference.CreateCanvas2DAsync();
        _seedRenderer.Context = _context;
    }

    public void Dispose()
    {
        _objRef?.Dispose();
    }

    private void TogglePause()
    {
        _simulationTimer.Enabled = !_simulationTimer.Enabled;
    }
}
