@inject IJSRuntime JS

<div id=@_unityContainerId></div>

<style>
    #@_unityContainerId {
        height: 99%;
        width: 100%;
        z-index: 0;
    }
</style>

@code {
    private const string _unityContainerId = "seedContainer";

    protected override async Task OnInitializedAsync()
    {
        var objRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("LoadUnityBuild", _unityContainerId, "seed-renderer");
    }
}
